@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap'); 

:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: black; 
    scroll-behavior: smooth;
    background-color: gainsboro;
}

.logo {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}

.main-logo {
    height: 30px;
    width: 30px;
}

.menu a {
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
}

.menu a:hover {
    border-color: black;
    font-weight: bold;
}

@media (min-width: 750px) {
    header nav {
        display: flex;
    }

    header nav .menu {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
    }
}

.image a {
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
}

.image a:hover {
    border-color: black;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #170909;
}

h2 {
    text-align: center;
    margin-top: 60px;
}

p {
    text-align: center;
}

.product-card img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 700px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
    }
}

@media (min-width: 900px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
    }
}

@media (min-width: 1700px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
    }
}

.banner img {
    background-image: url(../img/main.jpg);
    display: block;
    margin: auto;
    max-width: 1400px;
}

.info img {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1300px;
}

.product-card h3 {
    text-align: center;
}

.product-card {
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
}

.buttons {
    text-decoration: none;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

form {
    text-align: center;
    min-width: 120px;
}

footer {
    background-color: gray;
}
